.body{
  background-color: #f0f0f0;
}

.main-content {
    margin-left: 250px;
    padding: 1rem;

    width: calc(100% - 250px);
}

.sidebar {
    background-image: url("images/Study-Space_High-table-2-cropped-300x200.png");
    background-size: cover;
    position: fixed;
    width: 250px;
    height: 100vh;
    padding: 1.5rem;
    border-right: 1px solid #ffffff;

}
.sidebar .navbar-brand {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.sidebar .nav-link {
  color: white;              
  display: flex;             
  align-items: center;       
  text-align: center;
  font-size: 1.2rem;
  justify-content: center;   
}

.sidebar .nav-link i {
  color: white;              
  font-size: 1.6rem;         
  padding-right: 10px;       
}

.bottom-border {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  width: 70%;           /* adjust width as needed */
  margin: 0 auto;  

}

.top-navbar {
    background-color: #BED1BE;
    color: #000000;
    padding-top: 10px;
    padding-left: 10px;
    left: 260px; 
    width: calc(100% - 260px);
    padding-bottom: 0.3rem;
    margin-bottom: 0;
    padding-right: 10px;
    z-index: 1001;
}


/* Filter Bar/Info Bar */
.green-filter-bar {
    background-color: #d4edda;
    color: #10681e;
    border-radius: 5px;
    margin-top: 0 ;
    padding-top: 0;
}

.number-of-titles-box {
    color: #155724; 
}

/* Icon spacing */
#book-title-icon {
    margin-right: 20px;
}


@media (max-width: 768px) {
  .sidebar {
    position: static;     /* Sidebar no longer fixed */
    height: auto;         /* Let it grow naturally */
    min-height: auto;
    top: 10px; 
    right: 10px;
    left: -200px; 
    z-index: 1002; 
    transition: right 0.3s; 
    width: 100%;          /* Full width */
  }
    .sidebar .navbar-brand {
        /* Align the "SG Library" text to the left */
        text-align: center !important;
        width: 80%;
        /* Remove the automatic horizontal margin on small screens */
        margin-left: 50px !important; 
        margin-right: 0 !important; 
    }

    .sidebar .nav-link {
        /* Align the link content ("Book Titles") to the left */
        justify-content: flex-start !important;
        /* Add some padding to the left for visual spacing */
        text-align: left;
    }

  .main-content {
    margin-left: 0;       /* Remove sidebar offset */
    padding: 1rem;
    width: 100%;          /* Full width */
    
  }

  .top-navbar {
    position: static;
    left: auto;
    width: 100%;     
    margin-left: 0%;     /* So it stacks under the sidebar */
  }
}

