{% extends "base.html" %}

{% block title %}Book Titles{% endblock %}

{% block content %}
<div class="green-filter-bar d-flex justify-content-between align-items-center mb-3">
    <div class="number-of-titles-box">
        <span class="fw-bold">Number of titles: {{ books|length }}</span>
    </div>

    <div class="d-flex align-items-center">
        <span class="me-2 fw-bold">Category:</span>
        
        <select class="form-select me-2" style="width: auto;">
            <option value="All">All</option>
            <option value="Children">Children</option>
            <option value="Teens">Teens</option>
            <option value="Adult">Adult</option>
            </select>
        
        <button class="btn btn-success">Search</button>
    </div>
</div>


{% for book in books %}
<div class="card mb-4 shadow-sm">
    <div class="row g-0">
        <div class="col-md-2 p-2">
            <img src="{{ book.url }}" class="img-fluid rounded" alt="{{ book.title }} cover">
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">{{ book.title }}  By: {{ book.authors | join(", ") }}</h5>

                <p class="card-text">
                    <!-- category and genres -->
                    <small class="text-muted"><strong>Category:</strong> {{ ([book.category] + book.genres) | join(", ") }}</small><br>
                    <small class="text-muted"><strong>Pages:</strong> {{ book.pages }}</small>
                </p>
                <!-- shows the first and last sentence of the description -->
                <p class="card-text">{{ book.description[0] }}</p>
                <p class="card-text">{{ book.description[-1] }}</p>

                <div class="text-end">
                    <a href="#" class="btn btn-success">More details</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}